body{
    background-color: pink;
}

#parrafo{ /* esto es un ID */
    color: white;
}

.letraGrande{  /* esto es una clase */
    font-size: 10px;
}

.margenIzq{ /* esto es una clase */
    margin-left:10px;
}

.formatoImagenStandar{
    border: 10xp solid black;
}